<md-card class="rankings">
  <md-toolbar id="header">
    <div class="md-toolbar-tools">
      <i class="mdi mdi-help-circle" ng-click="$ctrl.infoDialog()"flex></i>
      <h5>Sentiment Score: {{$ctrl.data.sentimentRank}}</h5>
    </div>
  </md-toolbar>
  <md-card-content layout="column" layout-padding layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-hide="$ctrl.loaded"></md-progress-circular>
    <div ng-show="$ctrl.loaded">
      <section class="smiles">
        <div>
          <i class="mdi mdi-emoticon-happy pos">{{$ctrl.data.positiveWc}}</i>
          <md-tooltip>positive words</md-tooltip>
        </div>
        <div>
          <i class="mdi mdi-emoticon-neutral neu">{{$ctrl.data.neutralWc}}</i>
          <md-tooltip>neutral words</md-tooltip>
        </div>
        <div>
          <i class="mdi mdi-emoticon-sad neg">{{$ctrl.data.negativeWc}}</i>
          <md-tooltip>negative words</md-tooltip>
        </div>
      </section>
      <donut ng-model="$ctrl.chartData"
             width="120" height="120"
             radius="20" property="'value'"
             colours="$ctrl.chartData.colors"></donut>
    </div>

  </md-card-content>
</md-card>
