<div id="blog-page" layout="column" layout-padding layout-margin>
  <md-content>
    <md-card class="blog-card">
      <img ng-src="{{Post.post.imgs[0].attributes.href}}" alt="{{Post.post.imgs[0].attributes.title}}"/>
      <md-card-content>

        <my-rank-card
            sentiment-rank="{{Post.post.attributes.sentimentRank}}"
            positive-wc="{{Post.post.attributes.positiveWc}}"
            negative-wc="{{Post.post.attributes.negativeWc}}"
            neutral-wc="{{Post.post.attributes.neutralWc}}"></my-rank-card>

        <h1>{{Post.post.attributes.title}}</h1>
        <p>Posted on: {{Post.post.attributes.postedOn | date}}, By:{{Post.post.author.attributes.username}}</p>

        <md-card class="input-analysis">
          <md-card-content>
            <md-input-container style="width:90%">
              <label>Analyze Words</label>
              <textarea ng-model="words"></textarea>
            </md-input-container>
            <md-button ng-click="Home.analyzeWords(words)">submit</md-button>
          </md-card-content>
        </md-card>



        <my-header header="Post.post.headers[0]"></my-header>
        <p my-para header="Post.post.headers[0]" limit="1" start="0"></p>
        <div class="post-img"><img ng-src="{{Post.post.imgs[1].attributes.href}}"
                                   alt="{{Post.post.imgs[1].attributes.title}}"/></div>

        <p my-para header="Post.post.headers[0]" limit="2" start="1"></p>
        <div class="post-img"><img ng-src="{{Post.post.imgs[2].attributes.href}}"
                                   alt="{{Post.post.imgs[2].attributes.title}}"/></div>
        <p my-para header="Post.post.headers[0]" limit="2" start="4"></p>

        <my-header header="Post.post.headers[1]"></my-header>
        <p my-para header="Post.post.headers[1]" limit="1" start="0"></p>

        <my-header header="Post.post.headers[2]"></my-header>
        <p my-para header="Post.post.headers[2]" limit="3" start="0"></p>


        <my-header header="Post.post.headers[3]"></my-header>
        <p my-para header="Post.post.headers[3]" limit="1" start="0"></p>


      </md-card-content>
    </md-card>
  </md-content>
</div>

<script type="text/ng-template" id="results.tmpl.html">
  <md-dialog class="analysis-results">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>results</h4>
        <span flex></span>
        <md-button ng-click="results.close()">close</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div ng-if="results.words.length">
        <div class="" layout="row" layout-padding layout-align="space-around start">
          <div class="donut-wrapper">
            <h4>Sentiment Score: {{results.rank}}</h4>
            Word Counts:
            <section layout="row" layout-align="center center">
              <div layout="column" layout-align="center center" ng-if="results.posWc > 0">
                {{results.posWc}}
                <md-button class="md-fab pos">positive</md-button>
              </div>
              <div layout="column" layout-align="center center" ng-if="results.negWc > 0">
                {{results.negWc}}
                <md-button class="md-fab neg">negative</md-button>
              </div>
              <div layout="column" layout-align="center center" ng-if="results.neuWc > 0">
                {{results.neuWc}}
                <md-button class="md-fab neu">neutral</md-button>
              </div>
            </section>
            <donut ng-model="results.chartData" width="200" height="200" radius="0" colours="results.colors"
                   property="'value'"></donut>
          </div>
          <md-divider></md-divider>
          <div layout="column" layout-align="space-between" flex="40">
            <h4>Word | Sentiment</h4>
            <md-divider></md-divider>
            <div ng-repeat="word in results.words" layout="row" layout-align="space-between start">
              <span>{{word.word}}</span><span>{{word.sentiment | sentiment}}</span>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!results.words.length">
        <h2>No luck, try some other words</h2>
        <p>I enjoy posting news articles into here...</p>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>

