@charset "UTF-8";
@font-face {
  src: url("/assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MaterialIcons-Regular.woff"); }
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/fontawesome-webfont.woff"); }
.fa-github:before {
  content: ""; }

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

body, #body {
  background-color: #81bb10; }

md-toast {
  position: fixed; }
  md-toast a:link {
    text-decoration: underline;
    color: white; }
  md-toast a:visited {
    text-decoration: underline;
    color: white; }

.pre-load md-progress-linear {
  padding-bottom: 10px; }

#my-nav {
  position: fixed;
  z-index: 3;
  top: 0; }
  #my-nav .btn-small md-button {
    width: 90%; }

md-card.splash-card {
  position: fixed;
  text-align: center;
  top: 3em;
  padding-bottom: 5px;
  left: 33%;
  margin: 0 auto;
  width: 33%;
  background-color: #fff;
  z-index: 10; }

.md-avatar {
  width: 150px;
  border-radius: 50%; }

.md-avatar.res {
  width: 36px;
  border-radius: 50%; }

.md-avatar.pie {
  width: 96px;
  border-radius: 50%;
  position: relative;
  bottom: 52px;
  left: 152px; }

.analysis-results {
  width: 80%; }
  .analysis-results md-toolbar {
    background-color: #81bb10; }
  .analysis-results .md-button.md-fab {
    font-size: 7px;
    line-height: 0;
    min-width: 0;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%; }
  .analysis-results .md-button.md-fab.pos {
    background-color: #3F51B5; }
  .analysis-results .md-button.md-fab.neg {
    background-color: #F44336; }
  .analysis-results .md-button.md-fab.neu {
    color: black;
    background-color: #f1f1f1; }

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s; }

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0; }

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1; }

footer md-toolbar {
  position: fixed;
  bottom: 0; }

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  md-card.splash-card {
    position: fixed;
    text-align: center;
    top: 3em;
    padding-bottom: 5px;
    left: 33%;
    margin: 0 auto;
    width: 33%;
    background-color: #fff;
    z-index: 10; } }
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  md-card.splash-card {
    position: fixed;
    text-align: center;
    top: 3em;
    left: 33%;
    padding-bottom: 5px;
    margin: 0 auto;
    width: 33%;
    background-color: #fff;
    z-index: 10; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #body {
    min-height: 480px; }

  .md-avatar.pie {
    width: 96px;
    border-radius: 50%;
    position: relative;
    bottom: 52px; }

  md-card.splash-card {
    position: relative !important;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 5px;
    top: 130px !important;
    left: 20px !important;
    width: 33%;
    background-color: #fff; }
    md-card.splash-card img {
      width: 68px; }
    md-card.splash-card h1 {
      font-size: 24px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .md-avatar.pie {
    width: 96px;
    border-radius: 50%;
    position: relative;
    top: 152px;
    left: 52px; }

  md-card.splash-card {
    position: static;
    text-align: center;
    margin-top: 130px;
    padding-bottom: 5px;
    height: 240px;
    width: 66%;
    background-color: #fff;
    z-index: 2; }
    md-card.splash-card img {
      width: 68px; }
    md-card.splash-card h1 {
      font-size: 24px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 568px) {
  .md-avatar.pie {
    width: 96px;
    border-radius: 50%;
    position: relative;
    top: -52px;
    left: 152px; } }
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.tile {
  font-size: 248px; }

.fa.tile {
  font-size: 232px;
  padding-top: 16px;
  padding-left: 48px;
  font-size: 232px; }

/*# sourceMappingURL=githop.css.map */
