a:link {
  text-decoration: none;
}

.fa-github {
  font-size: 36px;
}

div.tooltip {
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 3px;
  background-color: white;
  font-size: 12px;
  position: absolute;
  padding: 2px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  white-space: nowrap;
  pointer-events: none;
}

#resume  {
  background-color: #f1f1f1;
  margin-top: 128px;
}

  md-list.toc {
    md-list-item {
      .md-list-item-text {
        a.active {
          color: rgb(255,255,255);
          background-color: rgb(244,67,54);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        }
      }
    }
  }
