a:link {
  text-decoration: none;
}

.fa-github {
  font-size: 36px;
}

div.tooltip {
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 3px;
  background-color: white;
  font-size: 12px;
  position: absolute;
  padding: 2px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  white-space: nowrap;
  pointer-events: none;
}

#resume  {
  background-color: #f1f1f1;
  margin-top: 128px;
}

  md-list.toc {
    md-list-item {
      .md-list-item-text {
        a.active {
          color: rgb(255,255,255);
          background-color: rgb(244,67,54);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        }
      }
    }
  }


//laptop non-retina
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  #resume {
    background-color: #f1f1f1;
    margin-top: 128px;

    md-content {
      md-card {
        margin: 10px auto;
        //width: 80%;
      }
    }
  }
}

//laptop retina
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  #resume {
    background-color: #f1f1f1;
    margin-top: 128px;

    md-card.scrollspy {
      position: fixed;
      z-index: 8;
      width: 22%;
      background-color: #fff;
    }
    
    #res-col {
      padding-right: 4px;
      background-color: #f1f1f1;
    }

    md-content {
      background-color: #f1f1f1;
      md-card {
        background-color: #fff;
      }
    }

    div.contact-info {
      a:link {
        color: #000;
      }

      /* visited link */
      a:visited {
        color: #000;
      }

      /* mouse over link */
      a:hover {
        color: #000;
      }

      /* selected link */
      a:active {
        color: #000;
      }
    }
  }
}


//mobile
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
  #resume {
    background-color: #fff;
    margin-top: 128px;

    md-content {
      md-card {
        margin: 10px auto;
        width: 100%;
      }
    }
  }
}

//ipad
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px ) {
  .md-avatar.pie {
    width: 96px;
    border-radius: 50%;
    position: relative;
    bottom: 52px;
    left: 0

  }
  md-card.splash-card {
    position: fixed;
    text-align: center;
    top: 3em;
    left: 33%;
    margin: 0 auto;
    width: 33%;
    background-color: #fff;
    z-index: 10;
  };
}