<div id="resume" layout="column" layout-gt-xs="row">

  <div class="toc">
    <md-card class="scrollspy">
      <md-toolbar>
        <div class="md-toolbar-tools md-toolbar-tools-bottom">
          <h4>Table of Contents</h4>
        </div>
      </md-toolbar>
      <md-card-content>
        <md-list class="toc">
          <md-list-item ng-repeat="c in Res.toc" du-scrollspy du-smooth-scroll>
            <i class="{{c.icon}} mdi-24"></i>
            <div class="md-list-item-text">
              <md-button href="{{c.id}}" du-scrollspy du-smooth-scroll >{{c.text}}</md-button>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

  <div id="res-col" flex="75" flex-sm="100">
    <div layout-padding>
      <!--intro-->
      <md-card id="intro">

        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <img ng-src="./assets/images/profpic.jpg" class="md-avatar res"/>
            <h3>G. Tom Hopkins</h3>
          </div>
        </md-toolbar>

        <md-card-content>

          <div layout="row" layout-align="space-between">
            <div layout="row" layout-sm="column" layout-align="center center" ng-repeat="c in Res.contactInfo" class="contact-info">
              <a ng-href="{{c.link}}" alt={{c.text}} target="_blank"><i class="{{c.icon}} mdi-24"></i></a>
              <md-button hide-xs ng-href="{{c.link}}" alt={{c.text}} target="_blank">{{c.text}}</md-button>
            </div>
          </div>

          <div layout="row" layout-sm="column" layout-xs="column">
            <div flex>

              <div class="pie-wrapper">
                <tooltip ng-model="Res.selectedModel"></tooltip>
                <img ng-src="../assets/images/profpic.jpg" class="md-avatar pie"/>
                <donut ng-model="Res.skillsChart" width="200" height="200" radius="50" property="'value'"
                       mousemove="Res.openToolTip(model)" mouseleave="Res.closeToolTip()"></donut>



              </div>
            </div>
            <div flex>
              <p>Technology professional seeking web development positions. Highly motivated, self-directed,
                autodidactic
                and passionate. An adept communicator who interfaces well with a diverse set of personality types.
                Possesses
                a unique blend of interpersonal and analytical skills and will apply them to the benefit of your
                organization.</p>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <!--professional experience-->
      <md-card id="exp">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <i class="mdi mdi-briefcase mdi-36"></i>

            <h3>Professional Experience</h3>

          </div>
        </md-toolbar>
        <md-card-content>

          <section>
            <div layout="row" layout-align="space-between center">
              <h4><a href="https://inthetelling.com">In the Telling</a></h4>
              <div>Current</div>
            </div>
            <p>
              In the Telling provides high quality course content to universities and businesses. Main product (the Narrasys Producer) enables universities to create interactive media experiences centered around video, all online (similar to a traditional non-linear editor). Application is written in AngularJS client with a Rails API server and MongoDB.
            </p>
            <p>
              A typical day consists  of working with an agile team to build new features and maintain/ refactoring existing features.
            </p>
            <md-list>
              <md-list-item class="md-1-line" ng-repeat="win in Res.itt">
                <i class="mdi mdi-check mdi-24"></i></br>
                <div class="md-list-item-text" flex>{{win.text}}</div>
              </md-list-item>
            </md-list>
          </section>

          <md-divider></md-divider>
          <section>
            <div layout="row" layout-align="space-between center">
              <h4><a href="http://briebugsoftwaresolutions.com/">Briebug Solutions</a></h4>
              <div>September 2015 - Short Term Contract</div>
            </div>
            <p>Briebug Solutions specializes in providing business applications solutions with the MEAN stack. Briebug utilizes a test driven approach to software development in order to produce maintainable, reusable and modular codebases. Toolchain includes NodeJS, AngularJS, Gulp, Karma/Mocha, MongoDB as well as other tools if necessary to provide an appropriate solution.</p>
          </section>

          <md-divider></md-divider>
          <section>
            <div layout="row" layout-align="space-between center">
              <h4><a href="http://trainheroic.com/">Trainheroic</a></h4>
              <div>December 2014 - June 2015</div>
            </div>
            <p>TrainHeroic is a startup specializing in fitness and coach/gym driven workout programs located in Boulder, CO. Product portfolio consists of three web apps, (coach/athlete portal and marketplace) and an iPhone app. Server stack consists of of a monolith PHP app being replaced by a Laravel API. Coach portal and marketplace client apps are AngularJS, athlete portal is currently being rewritten in Angular.</p>

            <md-list>
              <md-list-item class="md-1-line" ng-repeat="win in Res.wins">
                <i class="mdi mdi-check mdi-24"></i></br>
                <div class="md-list-item-text" flex>{{win.text}}</div>
              </md-list-item>
            </md-list>
          </section>

          <md-divider></md-divider>

          <section>
            <div layout="row" layout-align="space-between center">
              <h4>Independent Ruby Contractor</h4>
              <div>August 2014 - December 2015</div>
            </div>
            <p>Worked on contract basis developing custom software for small businesses in the Boulder area</p>
          </section>


        </md-card-content>
      </md-card>

      <!--projects -->
      <md-card id="projects">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <i class="mdi mdi-xml mdi-36"></i>

            <h3>Side Projects</h3>
          </div>
        </md-toolbar>
        <md-card-content>
          <section>
            <div ng-repeat="project in Res.projects">
              <div layout="row" layout-align="space-between center">
                <h4><a ng-href="{{project.href}}">{{project.title}}</a></h4>
                <div>{{project.date}}</div>
              </div>

              <p ng-bind-html="project.description"></p>

              <md-divider></md-divider>
            </div>
          </section>
        </md-card-content>
      </md-card>

      <!--community / talks-->
      <md-card id="talks">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <i class="mdi mdi-presentation mdi-36"></i>

            <h3>Community / Talks</h3>
          </div>
        </md-toolbar>
        <md-card-content>

          <div ng-repeat="talk in Res.talks">
            <div layout="row" layout-align="space-between center">
              <h4><a ng-href="{{talk.href}}">{{talk.title}}</a></h4>
              <div>{{talk.date}}</div>
            </div>

            <p ng-bind-html="talk.description"></p>

            <md-divider></md-divider>
          </div>
        </md-card-content>
      </md-card>

      <!--startup competition-->
      <md-card id="competition">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <i class="mdi mdi-poll mdi-36"></i>

            <h3>Startup Competitions</h3>
          </div>
        </md-toolbar>
        <md-card-content>
          <div layout="row" layout-align="space-between center">
            <h4>3rd Pace - 2014 Marijuana Tech Startup competition</h4>
            <div>2014</div>
          </div>
          <a ng-href="http://www.cannabrokersnetwork.com/">cannabrokersnetwork.com</a> - code on github
          <p>2 day hackathon style startup competition. Cannabrokers is a B2B online market for the cannabis industry.
            Built app on freelance basis and is still under development. Featured in BBC, Yahoo Finance</p>
        </md-card-content>
      </md-card>

      <!--other -->
      <md-card id="other">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <i class="mdi mdi-layers mdi-36"></i>

            <h3>Other</h3>
          </div>
        </md-toolbar>
        <md-card-content>
          <div layout="row" layout-align="space-between center">
            <h4>Partner Professional Solutions</h4>
            <div>2009 - 2014</div>
          </div>
          <p>Partner Professional Solutions is predominantly a Healthcare IT recruiting company based in Cincinnati, OH.
            Roles over tenure included: intern, sales-researcher, IT support, Head of IT. Responsibilities included
            vendor
            relations, policy formation/implementation, admin / technical roles.</p>
        </md-card-content>
      </md-card>

      <!--education-->
      <md-card id="edu">
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <i class="mdi mdi-school mdi-36"></i>

            <h3>Education</h3>
          </div>
        </md-toolbar>
        <md-card-content>

          <div layout="row" layout-align="space-between center">
            <h4>Dev Bootcamp</h4>
            <div>April - July 2014</div>
          </div>
          <p>Dev Bootcamp is an intense 12 week program designed to instill a  foundation for a career in web development. In addition, DBC emphasises non-technical interpersonal skills such as team integration and engineering empathy.</p>
          <md-divider></md-divider>

          <div layout="row" layout-align="space-between center">
            <h4>Ohio University</h4>
            <div>2012</div>
          </div>
          <p>Bachelor of Arts Philosophy</p>
          <md-divider></md-divider>

        </md-card-content>
      </md-card>


    </div>
  </div>


</div>